<div class="panel panel-default">
    {{#if label}}
        <div class="panel-heading">{{{label}}}</div>
    {{/if}}

    {{#if isLoading}}
        {{partial 'eureka-loading'}}
    {{else}}
        {{#if displayAsNumber}}
            <h1 class="text-center">{{number}}</h1>
        {{else}}
            <div class="panel-body">
                {{high-charts mode=chartMode content=chartData chartOptions=chartOptions}}
            </div>
        {{/if}}
    {{/if}}
</div>
